div.all-activities-flow-item
    button.activity-favorite
        em.icon.icon-favorite
    div.row
        a(href="#", title="Nil Karaibrahimgil ile Her Çocuk Bir Evren", class="d-flex d-md-block")
            div.col-7.col-lg-12
                div.d-flex
                    p.activity-time 10:30 - 12:30
                    p.activity-free Ücretsiz
                p.activity-title Nil Karaibrahimgil ile Her Çocuk Bir Evren
                p.activity-place ODTU Kültür ve Kongre Merkezi
            div.col-5.col-lg-12.d-flex.align-content-center.flex-wrap
                img.img(src=prefix + "/images/flow-image-horizontal.png", width='268', height='105')

div.all-activities-flow-item
    button.activity-favorite
        em.icon.icon-favorite-selected
    div.row
        a(href="#", title="Nil Karaibrahimgil ile Her Çocuk Bir Evren", class="d-flex d-md-block")
            div.col-7.col-lg-12
                div.d-flex
                    p.activity-time 10:30 - 12:30
                    p.activity-free Ücretsiz
                p.activity-title Nil Karaibrahimgil ile Her Çocuk Bir Evren
                p.activity-place ODTU Kültür ve Kongre Merkezi
            div.col-5.col-lg-12.d-flex.align-content-center.flex-wrap
                img.img(src=prefix + "/images/flow-image-vertical.png", width='226', height='316')
div.all-activities-flow-item
    button.activity-favorite
        em.icon.icon-favorite
    div.row
        a(href="#", title="Nil Karaibrahimgil ile Her Çocuk Bir Evren", class="d-flex d-md-block")
            div.col-7.col-lg-12
                div.d-flex
                    p.activity-time 10:30 - 12:30
                    p.activity-free Ücretsiz
                p.activity-title Nil Karaibrahimgil ile Her Çocuk Bir Evren
                p.activity-place ODTU Kültür ve Kongre Merkezi
            div.col-5.col-lg-12.d-flex.align-content-center.flex-wrap
                img.img(src=prefix + "/images/flow-image-horizontal.png", width='268', height='105')
div.all-activities-flow-item
    button.activity-favorite
        em.icon.icon-favorite
    div.row
        a(href="#", title="Nil Karaibrahimgil ile Her Çocuk Bir Evren", class="d-flex d-md-block")
            div.col-7.col-lg-12
                div.d-flex
                    p.activity-time 10:30 - 12:30
                    p.activity-free Ücretsiz
                p.activity-title Nil Karaibrahimgil ile Her Çocuk Bir Evren
                p.activity-place ODTU Kültür ve Kongre Merkezi
            div.col-5.col-lg-12.d-flex.align-content-center.flex-wrap
                img.img(src=prefix + "/images/flow-image-vertical.png", width='226', height='316')
div.all-activities-flow-item
    button.activity-favorite
        em.icon.icon-favorite
    div.row
        a(href="#", title="Nil Karaibrahimgil ile Her Çocuk Bir Evren", class="d-flex d-md-block")
            div.col-7.col-lg-12
                div.d-flex
                    p.activity-time 10:30 - 12:30
                    p.activity-free Ücretsiz
                p.activity-title Nil Karaibrahimgil ile Her Çocuk Bir Evren
                p.activity-place ODTU Kültür ve Kongre Merkezi
            div.col-5.col-lg-12.d-flex.align-content-center.flex-wrap
                img.img(src=prefix + "/images/flow-image-horizontal.png", width='268', height='105')




div.all-activities-flow-item
    button.activity-favorite
        em.icon.icon-favorite
    div.row
        a(href="#", title="Nil Karaibrahimgil ile Her Çocuk Bir Evren", class="d-flex d-md-block")
            div.col-7.col-lg-12
                div.d-flex
                    p.activity-time 10:30 - 12:30
                    p.activity-free Ücretsiz
                p.activity-title Nil Karaibrahimgil ile Her Çocuk Bir Evren
                p.activity-place ODTU Kültür ve Kongre Merkezi
            div.col-5.col-lg-12.d-flex.align-content-center.flex-wrap
                img.img(src=prefix + "/images/flow-image-vertical.png", width='226', height='316')
div.all-activities-flow-item
    button.activity-favorite
        em.icon.icon-favorite-selected
    div.row
        a(href="#", title="Nil Karaibrahimgil ile Her Çocuk Bir Evren", class="d-flex d-md-block")
            div.col-7.col-lg-12
                div.d-flex
                    p.activity-time 10:30 - 12:30
                    p.activity-free Ücretsiz
                p.activity-title Nil Karaibrahimgil ile Her Çocuk Bir Evren
                p.activity-place ODTU Kültür ve Kongre Merkezi
            div.col-5.col-lg-12.d-flex.align-content-center.flex-wrap
                img.img(src=prefix + "/images/flow-image-horizontal.png", width='268', height='105')
